<!DOCTYPE >
<html><head><link href="style.css" rel="stylesheet" type="text/css"></head><body>
    <div id="main">
        <div id="header">
            <h1><a href="#">We sell Strings</a></h1>
         
        </div>
        <div id="menu"><div id="menu2">
                <ul><li><a class="active" href="#">Home</a></li>
                    <li><a href="{{ url_for('register')}}">Inscription</a></li>
                    <li><a href="{{ url_for('login')}}">Login Admin</a></li>
                    <li><a href="{{ url_for('luth')}}">luth</a></li>
                    <li><a href="{{ url_for('violon')}}">violons</a></li>
                    <li><a href="{{ url_for('piano')}}">Claviers </a></li>
                         <li><a href="{{ url_for('iv')}}">Instruments à vent</a></li>
                          <li><a href="{{ url_for('guitare')}}">guitares</a></li>
                         <li><a href="{{ url_for('per')}}">percussions</a></li>
                </ul></div></div>
        <div id="middle"><div id="middle2">
                <div id="left">
                    <div class="box">
                       We sell strings est une chaine de boutique de vente des instruments de musique qui rend les enseigants et les élèves plus heureux plus satisfait de la qualité de nos instruments et du service de réparation
                    </div>
              
        <div id="footer">
   
        </div>
    </div>
</body></html>
